@import "tailwindcss";

@theme inline {
  /* Cores */
  --color-fundo: var(--theme-fundo);
  --color-fundo-secundario: var(--theme-fundo-secundario);
  
  --color-texto: var(--theme-texto);
  --color-texto-secundario: var(--theme-texto-secundario);
  
  --color-primaria: var(--theme-primaria);
  --color-primaria-hover: var(--theme-primaria-hover);
  
  --color-secundaria: var(--theme-secundaria);
  --color-secundaria-hover: var(--theme-secundaria-hover);

  --color-sucesso: var(--theme-sucesso);
  --color-alerta: var(--theme-alerta);
  --color-perigo: var(--theme-perigo);
  --color-destaque: var(--theme-destaque);
  --color-rosa: var(--theme-rosa);
  --color-lavanda: var(--theme-lavanda);
  
  --color-card: var(--theme-card);
  --color-borda: var(--theme-borda);
  --color-suave: var(--theme-suave);

  /* Fontes e Tipografia */
  --font-sans: var(--font-atkinson);

  /* Tamanho de Fontes (Acessibilidade) */
  --text-titulo1: var(--theme-titulo1);
  --text-titulo2: var(--theme-titulo2);
  --text-titulo3: var(--theme-titulo3);
  --text-paragrafo: var(--theme-paragrafo);
}

body {
  background: var(--theme-fundo);
  color: var(--theme-texto);
  font-size: var(--theme-paragrafo);
  transition: background-color 0.2s ease, color 0.2s ease, font-size 0.2s ease;
}
